::selection {
    background-color: white;
    /* color: #fff; Optional: Change text color for better contrast */
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Avatar {
    height: 10vmin;
    pointer-events: none;
    border-radius: 100%;
}
