:root {
    --base-font-size: 16px;
    --h1-font-size: 26px;
    --h2-font-size: 26px;
    --h3-font-size: 22px;
    --span-font-size: 18px;
}

h1 {
    font-family: "Croissant One", cursive;
    font-size: var(--h1-font-size);
}

h2 {
    font-family: "Mooli", sans-serif;
    font-size: var(--h2-font-size);
}

h3 {
    font-family: "Mooli", sans-serif;
    font-size: var(--h3-font-size);
    line-height: 1.2;
}
h4 {
    font-family: "Mooli", sans-serif;
    font-size: var(--h3-font-size);
    line-height: 1.2;
}
body {
    font-family: "Mooli", sans-serif;
    font-size: var(--base-font-size);
}

p {
    font-family: "Mooli", sans-serif;
    font-size: var(--base-font-size);
}
span {
    font-family: "Mooli", sans-serif;
    font-size: var(--span-font-size);
}

.center-dropdown .dropdown-content {
    position: absolute;
    top: 100%;
    left: -120%;
    transform: translateX(-50%);
    max-height: 200px;
    overflow-y: auto;
}
