/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: theme('colors.dark');
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.chat-transition {
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Transition for both max-height and opacity */
    overflow: hidden; /* Prevent overflow during transition */
}

.chat-collapsed {
    max-height: 0px; /* Height when collapsed */
    opacity: 0; /* Make it invisible when collapsed */
}

.chat-expanded {
    max-height: 300px; /* Height when expanded */
    opacity: 1; /* Fully visible when expanded */
    overflow-y: auto;
}